h1 {
    color: orangered;
    font-family: cursive;
}

#canvas {
    background: grey;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

#debug {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
}

#progress {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 80%;
    height: 50px;
    display: none;
}
