html {
    /* index.ts: resize will try to avoid any scrollers */
    overflow: hidden;
    /* the space between body and canvas is pfff hidden by this */
    background: grey;
}

#openSidebar {
    position: absolute;
    right: 0px;
    top: 16px;
}

#canvas {
    background: grey;
    padding: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

#debug {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 350px;
    /* height: 90%; */
    padding: 0px;
}

#Coords {
    /* background-color: aqua; */
    overflow-y: scroll;
}

#progress {
    position: absolute;
    top: 40%;
    right: 10%;
    width: 80%;
    /* height: 50px; */
    display: none;
    z-index: 20;
}

#contextMenu {
    position: fixed;
    z-index: 100;
    width: 200px;
    height: 10%;
    overflow: hidden;
}

#toolBar {
    position: fixed;
    z-index: 80;
    top: 133px;
    left: 0px;
    width: 74px;
    height: 200px;
    overflow: hidden;
}

.toolbutton {
    margin: 4pt;
    width: 56px;
    height: 52px;
}